body {
    font-family: "Open Sans", sans-serif;
}

h1, h2 {
    margin: 0;
}

/* General */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}


/* clearfix */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* arrow */

.arrow {
    width: 0;
    height: 0;
    border-right:15px solid transparent;
    border-left:15px solid transparent;
    border-bottom: 5px solid #1faae2;
    margin: auto;
    visibility: hidden;
}


/* Header */


.main-header {
    position: relative;
    padding: 50px 0 20px;
   
}

.logo {
    float: left;
}

.contacts {
    float: right;
    position: absolute;
    top: 50%;
    right: 20px;
}

.contacts li {
    display: inline-block;
    color: #6d6e71;
    font-size: 1.2em;
    padding: 5px 10px;
    border-right: 1px solid #bcbec3;
}


.contacts li:last-child {
    border-right: none;
}

.top-search-box {
    display: none;
}

/* Navigation */

.main-nav {
    border-top: 1px solid #bcbec3;
}

.nav-menu {
    float: left;
}

.search-box {
    float: right;
}

.nav-menu li {
    display: inline-block;
    text-align: center;
    border-right: 1px solid #eceef4;
    position: relative;

}

.nav-menu li a {
    color: #6d6e71;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 10px;
}

.nav-menu a:focus + .arrow{
    visibility: visible;
}

.search-box {
    margin-top: 5px;
}

input[type="text"],
button {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
}



button {
    color: gray;
    font-size: 20px;
}

/* Hero section */

.hero {
    position: relative;
    height: 800px;
    background: url('images/bg.jpg') no-repeat center center / cover;
}

/* skew backgrou */

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
  }

.hero-title {
    padding-top: 200px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 715px;
    position: relative;
    margin: 0 auto;
}

.hero-title h1 {
    position: relative;
    z-index: 2;
    font-size: 56px;
}

.hero-title h2 {
    position: relative;
    z-index: 2;
    text-indent: 100px;
    font-size: 35px;
    font-weight: 100;
}

.amp {
    color: #bbedff;
    font-size: 85px;
    font-weight: bold;
    position: absolute;
    top: 218px;
    left: 40px;
    z-index: 1;
}


.slider {
    position: relative;
    width: 760px;
    margin: 0 auto;
    top: -250px;
}

.slider img {
    float: left;
}

.about-article {
    color: #6d6e71;
    float: left;
    width: 40%;
}

.about-article h3 {
    margin-top: 0;
}

.about-article:first-child {
    margin-right: 10%;
}


.about-article img {
    padding-right: 20px;
    float: left;
}

.state {
    float: left;
    width: 65%;
}

.menu-icon {
    display: none;
    font-size: 50px;
    color: #1faae2;
}

@media screen and (max-width: 968px) {
    .wrapper {
        max-width: 870px;;
    }

    .logo img {
        display: none;
    }

    .logo {
        float: none;
        display: block;
        margin: 0 auto;
        width: 170px;
        height: 50px;
        overflow: hidden;
        background: url("images/logo.png") no-repeat center;
    }

    .menu-icon {
        display: block;
        float: left;
        
    }

    .contacts,
    .main-nav,
    .slider {
        display: none;
    }

 
    
    .top-search-box {
        display: block;
        float: right;
        margin-top: -45px;
        font-size: 16px;
    }

    .about {
        margin-top: 100px;;
    }

    .about-article {
        float: none;
        width: 100%;
        padding-bottom: 20px;
    }

}