body, html, h3 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.container {
    width: 720px;
    margin: 200px auto;
}

.req {
    color: tomato;
}

.input-field {
    padding-bottom: 15px ;
    position: relative;
}



label[for="message"] {
    vertical-align: top;
}

textarea {
    width: 200px;
    height: 70px;
    resize: none;

}

input, textarea {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}

input {
    margin-top: 15px;
}

input:invalid + label { 
    top:3px;
    opacity:0; 
}

input:valid + label { 
    opacity:1;
    top:0;
}

input:focus { 
    outline:none;
}

input:focus + label { 
    color:#33A; 
}

input[type="submit"] {
    border: 1px solid lightgray;
    padding: 5px 20px;
    margin-left: 120px;

}

.lab {
    position: absolute;
    left: 0;
    top: 0;
    transition: all .2s linear;
    color: #999;
    font-size: 10px;
}

.tooltip {
    position: absolute;
    display: none;
    width: 100px;
    padding: 5px 15px;
    font-size: 12px;
    text-align: center;
    color: white;
    background: tomato;
    top: 0;
    right: 30%;
}

.tooltip-arrow {
    position: absolute;
    top: 7px;
    left: -5px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid tomato;
}

input:focus + .tooltip {
    display: block;
}